{
    "presets": [
        ["next/babel"],
        ["@emotion/babel-preset-css-prop"]
    ],
    "plugins": [
        ["emotion"],
        ["babel-plugin-module-resolver", {
            "root": "/",
            "alias": {
                "components": "./components",
                "containers": "./containers",
                "css": "./css",
                "static": "./static",
                "utils": "./utils",
                "context": "./context"
            }
        }]
    ]
}