{
    "presets": [
        ["next/babel"],
        ["@babel/preset-env"],
        ["@emotion/babel-preset-css-prop"]
    ],
    "plugins": [
        ["babel-plugin-module-resolver", {
                "root": "/",
                "alias": {
                    "components": "./components",
                    "containers": "./containers",
                    "css": "./css",
                    "static": "./static",
                    "utils": "./utils",
                    "context": "./context"
                }
            }
        ],
        ["@babel/plugin-proposal-class-properties"],
        ["emotion"]
    ]
}